* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 5px;
}
.custom-header {
  height: 50px !important;
  vertical-align: middle !important;
}
.col-narrow {
  width: 100px !important;
}
.errorMessage {
  color: red;
}
/* .form-control.active {
  border: 1px solid red;
}
.form-control.valid {
  border: 1px solid rgb(96, 168, 96);
} */
