* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  /* background-color: rgb(154, 198, 236); */
}
.first {
  text-align: justify;
}
.second {
  text-align: justify;
}
.third {
  text-align: justify;
}
