* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 10px;
  font-size: 25px;
  font-weight: 800;
  color: white;
  text-align: center;
}
.main {
  border: 2px solid blue;
  padding: 10px;
}
.header {
  height: 70px;
  width: 100%;
  background-color: dodgerblue;
  margin-bottom: 10px;
}
.center-div {
  display: flex;
  margin-bottom: 10px;
}
.right-part {
  width: 70%;
  /* background-color: green; /
    / margin: 0px 0 10px 0; */
}
.aside {
  width: 30%;
  background-color: brown;
  margin-right: 10px;
}
.content {
  height: 200px;
  background-color: skyblue;
  margin-bottom: 10px;
}
.section {
  height: 200px;
  background-color: blueviolet;
}
.footer {
  height: 70px;
  width: 100%;
  background-color: dodgerblue;
}
