* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  padding: 10px;
}
h2 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 30px;
}
button {
  border: none;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.ri-arrow-left-right-line {
  border: 1px dotted transparent;
  padding: 3px 7px;
  border-radius: 50%;
  font-size: 35px;
  transition: all 0.3s ease;
}
input {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 20px;
}
.main {
  position: absolute;
  left: 50%;
  translate: -50%;
}
.content {
  display: flex;
  gap: 20px;
}
.ri-arrow-left-right-line:hover {
  border: 1px dotted green;
  color: rgba(255, 0, 0, 0.664);
}

button.active {
  color: black;
}

/* blinking the button */
@keyframes blink {
  0% {
    background-color: rgba(251, 255, 0, 0.89);
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: rgba(251, 255, 0, 0.89);
  }
}

.blink-effect {
  animation: blink 0.4s ease-in-out;
}
