body {
  background-image: url(https://t4.ftcdn.net/jpg/11/82/78/77/240_F_1182787754_ZoLeQHMNhrcvQXupibKEKGOPbxE3r5iO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: right top; */
  background-attachment: fixed;
}
p {
  background-image: url(https://t4.ftcdn.net/jpg/10/46/89/23/240_F_1046892325_Ma6EcwIIde0yZaORGUwB0BzyfgeVLN0D.jpg);
}
