* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  width: 100%;
  padding: 20px;
}
.main {
  /* border: 1px solid black; */
  /* text-align: center; */
  mask-image: url(img/w3logo-for-mask-img.png);
  mask-repeat: no-repeat;
}
.main img {
  height: 300px;
  width: 300px;
  /* border: 1px solid black; */
}
.main3 {
  mask-image: url(img/w3logo-for-mask-img.png);
  mask-repeat: no-repeat;
}
.main3 img {
  height: 250px;
  width: 400px;
}
/* note that image masking property no use image je div ma hoi e div ma apvani hoi naa ke e image ma */
